$bcolor: rgba(0, 0, 0, .1);
$material-shadow: 0 2px 7px -1px $bcolor;
$pcolor: rgb(63,81,181);
body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $pcolor;
}

#play {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) scale(2);
  z-index: 99999;
  background-color: #fff;
}

body {
  margin: 0;
}

#score {
  text-align: center;
  padding: 6px;
  width: 100%;
  margin: 0;
  font-size: 28px;
}

#flappy {
  position: absolute;
  left: 45vw;
  bottom: 50vh;
  width: 10vh;
  height: 10vh;
  opacity: 0;
  background-color: white;
}

#tubi div {
  position: absolute;
  width: 10vw;
  left: 100vw;
  bottom: 0;
  background-color: white
}

.navbar {
  bottom: 0;
  height: 50px;
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: $material-shadow;
  position: absolute;
}

.tab.active {
  box-shadow: 0 -4px 0 $pcolor inset;
  background-color: rgba(0, 0, 0, 0.1);
}
.score {
  width: 100%;
  background-color: white;
  box-shadow: $material-shadow;
  height: 50px;
  min-width: 100px;
}

.tab {
  width: 100%;
  text-align: center;
  height: 100%;
}

.tab .material-icons {
  padding: 12px;
}

body {
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 999;
  display: none;
  margin: 35px;
  width: calc(100% - 110px);
  height: calc(100% - 110px);
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: $material-shadow;
}

.interface {
  top: 0;
  z-index: 9;
}

.mdl-header {
  position: absolute;
  bottom: 0;
  height: 48px;
  background-color: white;
  width: 100vw;
}

.mdl-header .material-icons {
  padding: 12px;
}

.mdl-tabs__tab.is-active {
  background-color: $bcolor;
}
.mdl-tabs__tab.is-active .material-icons {
  color: $pcolor
}

.loader {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  z-index: 999999999999999;
  animation: loading 2s forwards;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.loader img {
  max-width: 100px
}
img {
  width: 100%;
}
@keyframes loading {
  0% {
    opacity: 1
  }
  30% {
    opacity: 1
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
